<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CSBTE_MyWpnEditor.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <CSBTE_MyWpnEditor.Settings>
            <setting name="profileName" serializeAs="String">
                <value>weapons_precache.default</value>
            </setting>
            <setting name="profileNameTranslate" serializeAs="String">
                <value>weapons_precache</value>
            </setting>
            <setting name="curProfile" serializeAs="String">
                <value>0</value>
            </setting>
        </CSBTE_MyWpnEditor.Settings>
    </userSettings>
</configuration>
