<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Launcher.Setting" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Launcher.Setting>
            <setting name="LoadMap" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LastMap" serializeAs="String">
                <value>cs_assault</value>
            </setting>
            <setting name="OldEditorName" serializeAs="String">
                <value>CSBTEMyWpnEditor.exe</value>
            </setting>
            <setting name="NewEditorName" serializeAs="String">
                <value>WeaponEditor.exe</value>
            </setting>
            <setting name="AF" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AA" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HDR" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="VSync" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BotQuota" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="BotDifficulty" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BotSwitch" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RMA" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DisplayMode" serializeAs="String">
                <value>2</value>
            </setting>
        </Launcher.Setting>
    </userSettings>
</configuration>