<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CSBTELauncher.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <CSBTELauncher.Settings>
            <setting name="loadMap" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="lastMap" serializeAs="String">
                <value>de_dust2</value>
            </setting>
            <setting name="editorName" serializeAs="String">
                <value>CSBTEMyWpnEditor.exe</value>
            </setting>
            <setting name="deleteMdmp" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="fxaa" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="af" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="vsync" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="botNum" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="botDiff" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="botAmxxControl" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="removeMA" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="weaponLimit" serializeAs="String">
                <value>No</value>
            </setting>
            <setting name="windowed" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="AA" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="HDR" serializeAs="String">
                <value>True</value>
            </setting>
        </CSBTELauncher.Settings>
    </userSettings>
</configuration>
